<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhhold.xp.plus.module">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <meta-data
            android:name="netversion"
            android:value="120" />

        <meta-data
            android:name="netclass"
            android:value="com.xhhold.xp.plus.module.Main" />

    </application>

</manifest>
